/* CSS */
* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:1em;
}

main {
    display:flex;
    flex-direction: column;
    gap:1em;
}


/**********/
/* HEADER */
/**********/

header img {

}



/********/
/* MAIN */
/********/

/* section met dropdowns */

.select {
    display:flex;
    padding: 5px;
    justify-content: center;
    gap:15px;
    background-color: rgb(28, 4, 83, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.filter {
    width:0;
    flex-grow:1;
    border-radius: 5px;
    border: 1.8px black solid;
}

.search {
    width:0;
    flex-grow:1;
    border-radius: 5px;
    border-color: black ;
    
}


/* lijst met artikelen */

section {
    display:grid;
    gap:1em;

    @media (min-width: 700px) {
        grid-template-columns: 1fr 1fr;

    }
}

article {
    --art-layout-lr:
        "img heading  "
        "img paragraaf"
        "img button   ";
    --art-layout-rl:
        "heading   img"
        "paragraaf img"
        "button    img";

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto max-content;

    grid-template-areas:var(--art-layout-lr);

    background-color: rgb(28, 4, 83, 0.5);
    column-gap:1em;
    padding: 10px;
    border-radius: 10px;

    &:nth-of-type(even) {
        grid-template-areas:var(--art-layout-rl);
    }

    @media (min-width: 700px) {
        &:nth-of-type(4n + 1),
        &:nth-of-type(4n + 2) {
            grid-template-areas:var(--art-layout-lr);
        }

        &:nth-of-type(4n + 3),
        &:nth-of-type(4n + 4) {
            grid-template-areas:var(--art-layout-rl);
        }
    }
}



main img {
    grid-area:img;
    width:100%;
}

h2 {
    margin: 15px 0 0 10px;
    grid-area: heading;
}

p {
    margin: 0 0 0 10px;
    grid-area: paragraaf;
}

.meer {
    grid-area: button;
    justify-self:end;
    align-self: end;
    border: solid black 2px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding:0.3em;
    text-decoration: none;
    color: black;
}