/* CSS */
* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:1em;
}

main {
    display:flex;
    flex-direction: column;
    gap:1em;
}


/**********/
/* HEADER */
/**********/

header img {

}



/********/
/* MAIN */
/********/

/* section met dropdowns */

form {
    display:flex;
    padding: 5px;
    justify-content: center;
    gap:15px;
    background-color: rgb(0, 38, 70);
    padding: 10px;
    border-radius: 10px;


    .filter {
        width:0;
        flex-grow:1;
        border-radius: 5px;
        border: 1.8px black solid;
    }

    .search {
        width:0;
        flex-grow:1;
        border-radius: 5px;
        border-color: black ;
        
    }
}

/* lijst met artikelen */

section {
    display:grid;
    gap:1em;

    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr;

    }

    @media (min-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr;

    }
}

article {
    --art-layout-lr:
        "img heading  "
        "img paragraaf"
        "img button   ";
    --art-layout-rl:
        "heading   img"
        "paragraaf img"
        "button    img";

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto max-content;

    grid-template-areas:var(--art-layout-lr);

    background-color: rgb(0, 38, 70);
    column-gap:1em;
    padding: 10px;
    border-radius: 10px;

    &:nth-of-type(even) {
        grid-template-areas:var(--art-layout-rl);
    }

    @media (min-width: 600px) {
        &:nth-of-type(4n + 1),
        &:nth-of-type(4n + 2) {
            grid-template-areas:var(--art-layout-lr);
        }

        &:nth-of-type(4n + 3),
        &:nth-of-type(4n + 4) {
            grid-template-areas:var(--art-layout-rl);
        }
    }

    @media (min-width: 1000px) {
        &:nth-of-type(6n + 1),
        &:nth-of-type(6n + 2),
        &:nth-of-type(6n + 3) {
            grid-template-areas:var(--art-layout-lr);
        }

        &:nth-of-type(6n + 4),
        &:nth-of-type(6n + 5),
        &:nth-of-type(6n + 6) {
            grid-template-areas:var(--art-layout-rl);
        }
    }

    img {
        grid-area:img;
        width:100%;
        display: flex;
        align-self: center;
    }

    h2 {
        margin: 15px 0 0 10px;
        grid-area: heading;
        color: white;
    }

    p {
        margin: 0 0 0 10px;
        grid-area: paragraaf;
        color: white;
    }

    .meer {
        grid-area: button;
        justify-self:end;
        align-self: end;
        border: solid white 2px;
        border-radius: 5px;
        width: fit-content;
        height: fit-content;
        padding:0.3em;
        text-decoration: none;
        color: white;
    }
}